.table {
  border: 1px solid black;
  border-collapse: collapse;
}

.thead {
}

th,
td {
}

th {
  background-color: #61a3e4;
}

tr:nth-child(even) {
}

tr:hover {
}

td {
  min-width: 200px;
}

thead {
}

tbody {
}
