.table {
  position: relative;
  border-collapse: collapse;
}

.thead {
}

td {
  padding: 10px;
  text-align: left;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

th {
  background-color: #61a3e4;
  min-width: 250px;
}

tr:nth-child(even) {
  background-color: #dcdcdc;
}

tr:hover {
  background-color: #94ec72;
  cursor: pointer;
}

thead {
}

tbody {
  /* position: fixed; */
  position: absolute;
  height: 500px;
  overflow-y: auto;
}
