.conterWrapper {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #24282c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.title,
.value {
  color: #ffffff;
  text-align: center;
}

.value {
  font-size: 80px;
  font-weight: bold;
}

.buttonsWrapper {
  margin: 0 auto;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 50px;
  border: 2px solid;
  background-color: transparent;
}

.minus,
.plus {
  composes: button;
  transition: box-shadow 0.2s linear;
}

.minus {
  border: 3px solid #d33734;
  color: #d33734;
}

.minus:hover {
  box-shadow: -1px 0px 10px 2px #d33734;
}

.plus {
  border: 3px solid #34cd80;
  color: #34cd80;
}

.plus:hover {
  box-shadow: -1px 0px 10px 2px #34cd80;
}

.button:disabled {
  box-shadow: none;
}
