.checkForm {
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.checkBox {
  display: none;
}

.item {
  cursor: pointer;
  display: block;
  border-radius: 10px;
  width: 100px;
  padding: 7px;
  background-color: aqua;
  text-align: center;
}

.add {
  composes: item;
  color: #fff;
  background-color: rgb(233, 68, 68);
}
